<launch>
  <rosparam command="load" file="fve_dual_ekf_navsat.yaml" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true"/>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
    <remap from="gps/fix" to="fix"/>
  </node>

  <node pkg="tf2_ros" type="static_transform_publisher" name="gps" args="0.08305 0 0.5588 0 0 0 base_link gps" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="razor_imu" args="0 -0.1973 0 0 0 0 base_link imu_link" />   

  <include file="$(find robot_localization)/launch/hector_trajectory.launch"/>

  <node pkg="rosbag" type="play" name="player" args="--clock /home/aaaaaaron/minebot_ws/src/husky/sunday_gps.bag"/>
</launch>